/*
html {
    background-color: var(--background-color);
}

#header,
input.slds-input,
input.slds-input:focus,
input.slds-input:active,
::selection,
.slds-form-element__label,
option,
label,
.slds-dueling-list__options
{
    color: var(--color);
    background-color: transparent;
}
*/

ul.settings {
    list-style-type: none;
    & > li {
        margin-bottom: 0.2rem;
    }
}

.half-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.container {
    margin: 1rem;
}

.dual-listbox-container {
    display: flex;
    gap: 10px;
}

.list-column {
    flex: 1;
}

.list-container select {
    width: 100%;
    height: 6rem;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.slds-dueling-list {
    display: flex;
    justify-content: center;
}

.slds-dueling-list__options {
    overflow: hidden;
}

.slds-listbox_vertical .slds-listbox__option:hover{
    background-color: transparent;
}

.slds-dueling-list__options {
    height: 8rem;
}

.button, button {
    &:hover {
        background-color: unset;
    }
    & > svg {
        fill: var(--color);
    }
}

.slds-form-element__label.slds-no-flex {
    display: unset;
}

.slds-dueling-list__column:has(> button.slds-button.slds-button_icon.slds-button_icon-container) {
    display: flex;
    flex-direction: row;
    & > button.slds-button.slds-button_icon.slds-button_icon-container {
        transform: rotate(90deg);
        margin-top: 0;
    }
}
