body {
	width: 22rem;
}

body,
iframe,
button,
.button,
tr > :is(th, td) {
	transition-property: background-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	& > span {
		transition-property: color;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}
}

header {
	position: relative;
	padding: 0;
	border-radius: 0.25rem;
	background-clip: padding-box;
	box-shadow: 0 2px 2px 0 rgba(var(--rgbcolor), 0.1);
	display: block;

	& > iframe {
		border: none;
		height: 2.1rem !important;
		width: 14rem;
	}

	& > div#actions {
		display: flex;
		align-items: center;

		& > * {
			cursor: pointer;
		}

		& > img, & > svg {
			height: 2rem;
			padding-left: 0.1rem;
		}
	}
}

div#theme-selector {
	display: flex;
	align-items: center;

	& > svg {
		height: 2rem;

		& .primary {
			fill: none;
			stroke: var(--color);
		}
		& .secondary {
			fill: var(--theme-fill);
		}
	}
}

svg {
	height: 2rem;
}

svg#open-settings {
	min-width: 2rem;
	margin-left: 0.5rem;

	& > g > g {
		fill: var(--color);
	}
}

svg#review {
	stroke: var(--color);
}

svg#sponsor {
	fill: var(--color);
	height: 1.8rem;
}

#buttons-tray {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
}
