body {
	background-color: unset;
}

.tabContainer {
	overflow-x: auto;
	scrollbar-width: thin;
}

ul.settings {
	list-style-type: none;
	padding-bottom: 1rem;

	& > li {
		margin-bottom: 0.2rem;
	}
}

.half-container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.pinned-tabs-toggle-container {
	grid-column: span 2;
}

.container {
	margin: 1rem;
	margin-bottom: 0;
}

.dual-listbox-container {
	display: flex;
	gap: 10px;
}

.list-column {
	flex: 1;
}

.list-container select {
	width: 100%;
	height: 6rem;
}

.buttons-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.slds-dueling-list {
	display: flex;
	justify-content: center;
}

.slds-dueling-list__options {
	overflow: hidden;
	height: 8rem;
}

.slds-listbox_vertical .slds-listbox__option:hover {
	background-color: transparent;
}

.button, button {
	&:not(.highlight):hover {
		background-color: unset;
	}
	& > svg {
		fill: var(--color);
	}
}

.slds-form-element__label.slds-no-flex {
	display: unset;
}

.slds-dueling-list__column:has(
	> button.slds-button.slds-button_icon.slds-button_icon-container
) {
	display: flex;
	flex-direction: row;
	& > button.slds-button.slds-button_icon.slds-button_icon-container {
		transform: rotate(90deg);
		margin-top: 0;
	}
}

#language-container,
#sort-container {
	label {
		font-size: 14px;
		margin-bottom: 4px;
		color: #16325c;
	}
	.select-wrapper {
		position: relative;
		width: fit-content;
		& select {
			padding: 8px 32px 8px 12px;
			font-size: 14px;
			line-height: 1.4;
			color: #16325c;
			background: #fff;
			border: 1px solid #0070d2;
			border-radius: 4px;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: pointer;
			&:focus {
				outline: none;
				box-shadow: 0 0 0 2px rgba(0, 112, 210, 0.3);
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 12px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #16325c;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}
}

hr {
	margin: 1rem 0;
	width: 85%;
}

.slds-dueling-list__column {
	display: block;
}

.center-columns {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#sort-container {
	width: 85%;
	justify-content: space-evenly;
	& > div:has(input) {
		margin-right: 1rem;
	}
}

#save-container {
	padding-bottom: 1rem;
	width: 100%;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	position: sticky;
	top: 0;
	z-index: 1;
}

svg {
	height: 2rem;
	padding-left: 0.1rem;
}

svg#review {
	stroke: var(--color);
}

svg#sponsor {
	fill: var(--color);
	height: 1.8rem;
}
