name: Create all Releases

on:
  push:
    tags:
      - "v*.*.*"

permissions:
    contents: write

jobs:
    setup-and-build:
        runs-on: macos-latest
        defaults:
            run:
                shell: bash

        env:
            GH_TOKEN: ${{ github.token }}

        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Define variables
              run: |
                TAG="${GITHUB_REF_NAME}"
                echo "TRIGGERING_TAG=$TAG" >> $GITHUB_ENV
                # Extract substring after 'v'
                TAG_VERSION=${TAG##*v}
                # Get version from manifest
                MANIFEST_VERSION=$(awk '/"version":/ { match($0, /"[0-9.]+"/); print substr($0, RSTART+1, RLENGTH-2) }' src/manifest/template-manifest.json)
                echo "PRERELEASE=$([ "$TAG_VERSION" != "$MANIFEST_VERSION" ] && echo "true" || echo "false")" >> $GITHUB_ENV
                # Extract substring before any additional '-' (like '-alpha')
                PURE_VERSION=${TAG_VERSION%%-*}
                awk -v ver="v$PURE_VERSION" '
                  $0 ~ "^# "ver"$" {print_flag=1; next}
                  $0 ~ "^# v[0-9]+\\.[0-9]+\\.[0-9]+" && print_flag {exit}
                  print_flag {print}
                ' "docs/CHANGELOG.md" > release-notes.txt
                # If release notes are empty, default to last release
                if [ ! -s release-notes.txt ]; then
                  awk '
                    $0 ~ "^# v[0-9]+\\.[0-9]+\\.[0-9]+" {
                      if (!print_flag) {print_flag=1; next}
                      else {exit}
                    }
                    print_flag {print}
                  ' "docs/CHANGELOG.md" > release-notes.txt
                fi

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Build Extension Releases and Publish them
              run: deno task release
